@model ActivosFijosDotNetCore.Models.ActivosFijos

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivosFijos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepreciacionPorAnno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepreciacionPorAnno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnosDeDepreciacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnosDeDepreciacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDepartamentoNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstadoNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoActivoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTipoActivoNavigation.CuentaCompra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
