@model IEnumerable<ActivosFijosDotNetCore.Models.ActivosFijos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepreciacionAcumulada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoActivoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepreciacionAcumulada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoActivoNavigation.CuentaCompra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
